

<!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(img/intro-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Log-In</h1>
          <%= form_tag '/login', method: :post do %>

<div color="white">
    <%= label_tag :"E-Mail ad " %>
    <%= text_field_tag :email %>
</div>

<div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    
</div>
    <%= submit_tag "Submit" %> <br> <br>
    <%= link_to "Sign-up", new_user_path %>
<% end %>
          <p class="intro-subtitle"><span class="text-slider-items">Welcome to Flat // Trade</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>



