<h1>Stocks</h1>

<h4>Search by Company name:</h4>
<%= form_tag(stocks_path, method: :get) do  %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search")  %>
<% end %>

<br>
<hr>


<% @stocks.each do |s| %>

<%= link_to s.company_name, stock_path(s) %> (<%= s.symbol  %>) <br>
<%= s.price  %><br>


<br>





<% end %>
