<h1><%= @stock.company_name %> (<%= @stock.symbol %>) </h1>


<h3> price: <%= @stock.price.to_f %></h3>

<%= form_for @stock do |s| %>

<p>
  <%= s.label :quantity%>
  <%= s.number_field :quantity, :value => @stock.quantity %> <%= s.submit "calculate cost" %><br>
<br>

<% stockprice= @stock.price.to_f / 100 %> <br>
cost: <%= number_to_currency(stockprice * @quantity)%> <br>
<br>


<% @p_company_name= @stock.company_name %>
<% @p_price= stockprice%>
<% @p_quantity= @quantity%>
<% @p_cost= number_to_currency(stockprice * @quantity) %>



</p>

<% end %>


<p><%= link_to "Back to stocks", stocks_path %></p>
