<h1>Welcome <%= @user.first_name %>!</h1>

<h4> <%= link_to "Portfolio", tradingbook_path(@user.tradingbooks[0]) %> </h4>
<% @user.tradingbooks.each do |tradingbook| %>
<!--  <%= tradingbook.stock.company_name %> -->

<% end %>

<h4> <%= link_to "manage account", edit_user_path(@user) %> </h4>
<h4> <%= %> </h4>
<h4> <%= %> </h4>
