<h1>Welcome <%= @user.first_name %>!</h1>




<h4> <%= link_to "Portfolio", tradingbook_path(@user.tradingbooks[0]) %> </h4>



<h4> <%= link_to "Manage account", edit_user_path(@user) %> </h4>

<h4> <%= link_to "Financial updates", blogs_path  %> </h4>


<h4> <%= link_to "log-out", logout_path %></h4>


